torch>=2.0.0
torchvision>=0.15.0
numpy>=1.24
scipy>=1.11
pandas>=2.0
tqdm>=4.65
opencv-python>=4.8
matplotlib>=3.7
ptlflow>=0.4.1
spynet-pytorch>=0.1.0
notebook>=7.0
loguru
jsonargparse
einops
